body {
	color: #025AA5;
}


.background-image{
	position: absolute;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	opacity: 0;
}
.button-option {
	min-width: 170px;
	margin: 5px;
	position: relative;
}

.remainder {
	opacity: 0;
}

.title {
	opacity: 0;
}

.input-area {
	margin-top: 10px;
}
#input-joke {
	background-color: white;
	width: 300px;
}
#input-box,
.input-joke {
	width: 300px;
}

.animate-class {
	position: fixed;
	top: 10px;
	left: 10px;
}
.opacity1 {
	opacity: 1;
}
.insertion-div{
	width: 100%;
	position: absolute;

}
.appended-image {
	width: 40%;
	height: auto;
	margin-top: 10px;
}
.ratings-div {
	margin: 10px 0;
	padding-bottom: 5px;
	border-bottom: 2px solid black;
	width: 40%;
}
.clear-button {
	margin-left: 10px;
}